body{ font-family: Verdana;
    background-color: floralwhite;
    text-align:center;
    align-items: center}
h1{color: orange;
    text-align:left;}
h2{color:orangered;}
h3{color: navy;
    font-size: 12px;
    text-align: left}
div[id$="block"]{
    display: block;
    margin: auto;
    background-color: azure;
    width: 60%;
}
p{color: navy}
img{width:350px;}
